# =========================
# Cmder.app Home page
# =========================

# Reserved hidden directory
.*_space

# =========================
# Build and Dependencies
# =========================

# Node modules
node_modules/
package-lock.json

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# =========================
# Operating System Files
# =========================

# Temporary files and directories
*~
*.tmp
.directory

# OSX specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and image file caches
._*
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini
