# =========================
# Cmder.net Home page
# =========================

# Reserved hidden directory
.*_space

# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
vendor/
.bundle/
Gemfile.lock

# =========================
# Operating System Files
# =========================

# Temporary files and directories
*~
*.tmp
.directory

# OSX specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and image file caches
._*
Thumbs.db
ehthumbs.db

# Folder config files
Desktop.ini
