@font-face {
    font-family: 'MarlettWeb';
    src: url('./marlett.eot');
    src: url('./marlett.eot?#iefix') format('ttf'),
        url('./marlett.ttf') format('ttf'),
        url('./marlett.woff2') format('woff2'),
        url('./marlett.woff') format('woff'),
        url('./marlett.svg#marlett') format("svg");
    font-weight: normal;
    font-style: normal;
}